page-refills {
    .scroll-content
    {
        background-color: #F0FB9A;
    }
    .fab-md
    {
        background-color: #EF667E;
    }
    .button
    {
        background-color: #EF667E;
    }
    .total
    {
        text-align: center;
        font-size: 35px;
        color: #317481;
    }

}
