page-home {
    
    .scroll-content
    {
        background-color: #EF667E;
    }
    .total
    {
        text-align: center;
        font-size: 35px;
    }
    .total p
    {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        color: #EF667E;
    }
    .col {
        text-align: center;
        
        
    }
    .img
    {
        max-width: 90%;
        max-height: 90%;
        
    }
    .item-md ion-icon
    {
        color: #317481;
    }

}
